@charset "UTF-8";

/* 댓글 전체 컨테이너 */
.cmtcontainer {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: minmax(20px, auto);
	margin: 30px 0 50px;
}

/* 각 댓글 컨테이너 */
.comments {
	display: grid;
	padding: 20px;
	margin: 7px 0;
	position: relative;
	height: auto;
	background-color: rgb(255 255 255/ 0.95);
	grid-column: 1/-1;
	grid-template-columns: 30px minmax(70px, auto) minmax(auto, 90%)
		minmax(100px, 110px);
	grid-template-rows: 20px auto 20px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px
		rgba(0, 0, 0, 0.22);
	border: 0;
	border-radius: 10px;
	align-items: end;
}

/* 댓글 내부 */
.cmtuserPic {
	width: 25px;
	height: 25px;
	border-radius: 10px;
}

.cmtuser {
	grid-column: 2;
	grid-row: 1;
	font-size: 16px;
}

.cmtuser:hover {
	color: #14ab2c;
}

.cmtdate {
	grid-column: 4;
	grid-row: 3;
	font-size: 11px;
	color: #a1a1a1;
	justify-self: end;
}
/* 수정 삭제 신고 버튼 */
.btns {
	display: flex;
	grid-column: 4;
	grid-row: 1;
	align-self: baseline;
	justify-content: end;
}

.btns> input{
	width: 33px;
	height: 20px;
	border-radius: 10px;
	font-size: 10px;
	margin: 0 1px;
}

.comment {
	grid-column: 1/5;
	grid-row: 2;
	padding: 10px;
	margin: 10px;
	border-top: 0px solid #cfcfcf;
	font-size: 14px;
	white-space: pre-wrap;
}

/* 수정 폼에서 수정, 취소 버튼 */
.updatebtn {
	display: none;
	grid-column: 4;
	grid-row: 3;
	width: 75px;
	justify-self: end;
}

.updatebtn>input {
	background-color: rgba(78, 197, 61, 0.9);
	border-radius: 10px;
	width: 33px;
	height: 20px;
	font-size: 10px;
	color: white;
}

.updatebtn>input[name="updatecls"] {
	background-color: rgb(190, 190, 190);
}

.update {
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	font-family: 'Nanum Gothic', sans-serif;
	text-indent: 0;
	font-size: 14px;
	color: #727272;
	resize: none;
	box-sizing: border-box;
	background-color: rgba(1,1,1,0);
	width: 98%;
}
/* 답글 버튼 */
.mentionbtn {
	grid-column-start: 1;
	grid-row: 3;
	width: 44px;
	height: 20px;
	font-size: 10px;
	border-radius: 10px;
	border: 1px solid rgba(78, 197, 61, 0.9);
	color: rgba(78, 197, 61, 0.9);
	background-color: #ffffff00;
}
.mentionCnt{
	grid-row: 3;
    grid-column: 2;
    width: auto;
    font-size: 12px;
    color: #727272;
    align-self: center;
    margin-left: 16px;
}
.mentionList{
	display: none;
	grid-column: 2/-1;
}
/* 멘션 컨테이너 */
.mention {
	grid-column: 2/-1;
}
/* 댓글 작성 폼 */
.cmtwrite {
	display: grid;
	grid-template-columns: auto 80px;
	grid-template-rows: auto 50px;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px
		rgba(0, 0, 0, 0.22);
	border: 0;
	background-color: rgb(255 255 255/ 0.95);
	box-sizing: border-box;
}

#cmtwrite {
	grid-column: 1/-1;
	margin: 30px 0 40px;
}

.cmtwrite>textarea {
	background-color: rgba(255, 255, 255, 0);
	grid-column: 1/2;
	grid-row: 1/3;
	width: 95%;
	min-height: 80px;
	border-radius: 10px;
	border: 0;
	margin: 15px;
	text-indent: 0;
	font-size: 14px;
	resize: none;
	box-sizing: border-box;
	color: #727272;
}

.cmtwrite input {
	grid-column: 2;
	grid-row: 2;
	align-self: center;
	border-radius: 10px;
	width: 33px;
	height: 20px;
	font-size: 11px;
}
.mentionwrite {
	display: none;
	grid-column: 2/-1;
	align-self: end;
	margin: 10px 0;
}

#mentionwrite>.cmtwrite {
	border-radius: 10px;
}

.insert {
	margin-left: 35px;
}

.cancle:hover {
	background-color: #ff6767;
	color: white;
}

button:focus {
	outline: none;
}

@media screen and (max-width: 600px) {
	.comments{
		padding: 15px;
	}
	.cmtuser {
		font-size: 13px;
	}
	.cmtdate {
		font-size: 10px;
		margin: 2px;
	}
	.comment {
		font-size: 12px;
	}
}