@charset "UTF-8";

  .deleteModal {
        display: none;
        position:fixed;
        top:40vh;
		left: 50%;
		transform: translate(-50%, 0);
        width: 250px;
        height: 130px;
        padding: 10px;
        border-radius: 10px;
  		border: 0;
        background-color: rgb(255 255 255);
 		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        z-index:1;
	    align-items: center;
      }
      .delment {
        grid-column: 1 / 5;
        grid-row: 1;
        text-align: center;
        background-color: rgb(255 255 255 / 0);
		font-size: 15px;
		margin-top: 20px;
      }
	  .deleteModal > input{
		grid-row: 2;
		border: 0;
        border-radius: 10px;
        margin: 0 5px;
        width: 60px;
		height: 25px;
		font-size: 13px;
	  }
      .delcancle{
        grid-column: 2;
      }
      .del{
        grid-column: 3;
        background-color: rgba(241, 73, 73, 1);
        color:white;
      }