@charset "UTF-8";

/* 참여하기 모달창 */

.joinModal{
	display: none;
	position: fixed;
	top:25vh;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 35px 0;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 280px;
	height: 400px;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	border: 0;
	background-color: rgb(255,255,255,1);
	z-index: 1;
}
.joinModal > img{
	width: auto;
	height: 130px;
	border-radius: 50px;
}
.joinModal > .sanName{
	font-size: 20px;
	margin: 10px;
}
/* .joinModal > .clsbtn{
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background-color: #ff000000;
	top: 10px;
	right: 10px;
} */
.joinModal > .joinInfo{
	display: flex;
	flex-direction: column;
	height: 100px;
	margin: 10px;
}
.joinInfo > li{
	margin: 5px 0;
	font-size: 14px;
}
.joinModal > #ment{
	font-size: 14px; 
	font-weight: bold; 
	margin: 20px 0;
}
.button > input[type="button"]{
	width: 60px;
	height: 30px;
	border-radius: 10px;
	margin: 0 7px;
	
}
.button > .joinbtn{
	background-color: rgb(78, 197, 61);
	color: white;
}
.button > .clsjoinbtn{
	background-color: rgba(241, 73, 73, 1);
}
