@charset "UTF-8";

.like{
	background: url(../svg/like-off.svg);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}
.fill{
	background: url(../svg/like-on.svg);
}
.like:focus{
	border: 0;
}