@charset "UTF-8";
/* common */
h2 {
  margin: 0;
}

.container img {
  /* 드래그 방지 */
  -webkit-user-drag: none;
}
/* container child - common */
.rank,
.mountain-info,
.recruit,
.review {
  width: 100%;
}

section div > h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  overflow: scroll;
  white-space: nowrap;
  user-select: none;
  padding-bottom: 32px;
  scroll-behavior: auto;
}

.recruit-title,
.review-title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.wrap::-webkit-scrollbar {
  display: none;
}
/* mountain-info */
.mountain-item {
    width: 200px;
    height: 330px;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);

    background-color: #fff;

    text-align: center;

    display: grid;
    grid-template-rows: 165px 45px 90px 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "mountainImg mountainImg mountainImg"
        "mountainName mountainName mountainName"
        "mountainContents mountainContents mountainContents"
        "mountainLike . .";

    align-items: center;
    justify-items: center;  
}
.mountain-item > p {   
    margin: 0;
    justify-self: left;
    
    grid-area: mountainContents;

    width: 195px;
    
    font-size: 15px;

    text-align: left;

    display: block;
    display: -webkit-box;
    overflow: hidden;
    white-space: nowrap;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.mountain-item > h3 {   
    display: inline-block;
    width: 170px;
    align-content: center;
}
.mountain-item > .mountain-img {
    grid-area: mountainImg;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.mountain-item > .mountain-name {
    grid-area: mountainName;

    font-size: 20px;
    margin: 0;
}
.mountain-item > .mountain-contents {
    grid-area: mountainContents;

    width: 195px;
    
    font-size: 15px;

    text-align: left;

    display: block;
    display: -webkit-box;
    overflow: hidden;
    white-space: nowrap;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.mountain-item > .mountain-like {
  grid-area: mountainLike;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-self: left;
}
.mountain-like > .favorite,
.recruit-like > .favorite,
.review-like > .favorite {
  width: 30px;
  height: 30px;
  border: 0;
  background: url(../svg/favorite-off.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.mountain-like > .favorite-count,
.recruit-like > .favorite-count,
.review-like > .favorite-count {
  font-size: 12px;
}
/* Add - Favorite On / OFf */
.on.favorite {
  width: 30px;
  height: 30px;
  border: 0;
  background: url(../svg/favorite-on.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* recruit */
.recruit-item {
  width: 200px;
  height: 330px;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  text-align: center;
  display: grid;
  grid-template-rows: 35px 140px 35px 30px 30px 30px 30px;
  grid-template-columns: 40px 40px 40px 10px 70px;
  grid-template-areas:
    "recruitUserImg recruitUserName recruitUserName recruitUserName recruitMountainName"
    "recruitImg recruitImg recruitImg recruitImg recruitImg"
    "recruitTitle recruitTitle recruitTitle recruitTitle recruitTitle"
    "recruitScheduleSchedule recruitSchedule recruitSchedule recruitSchedule recruitSchedule"
    "recruitScheduleTime recruitTime recruitTime recruitTime recruitTime"
    "recruitScheduleMember recruitScheduleMember recruitMember recruitMember recruitMember"
    "recruitLike recruitLike recruitLike recruitLike recruitDate";
  align-items: center;
  justify-items: center;
}

.recruit-item > p {
  margin: 0;
  justify-self: left;
}

.recruit-item > .user-img {
  grid-area: recruitUserImg;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-self: left;
}

.recruit-item > .user-name {
    grid-area: recruitUserName;
    font-size: 14px;
    width: 100px;
    text-align: left;
    justify-self: left;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recruit-item > .mountain-name {
  grid-area: recruitMountainName;
  font-size: 14px;
  justify-self: right;
}

.recruit-item > .recruit-img {
  grid-area: recruitImg;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  justify-self: center;
}

.recruit-item > .recruit-title {
  grid-area: recruitTitle;
  font-size: 20px;
  margin: 0;
  justify-self: center;
}

.recruit-item > .recruit-schedule-schedule {
  grid-area: recruitScheduleSchedule;
  font-size: 15px;
}

.recruit-schedule {
  grid-area: recruitSchedule;
  font-size: 15px;
}

.recruit-schedule-time {
  grid-area: recruitScheduleTime;
  font-size: 15px;
}

.recruit-time {
  grid-area: recruitTime;
  font-size: 15px;
}

.recruit-schedule-member {
  grid-area: recruitScheduleMember;
  font-size: 15px;
}

.recruit-member {
  grid-area: recruitMember;
  font-size: 15px;
}

.recruit-item > .recruit-like {
  grid-area: recruitLike;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-self: left;
}


.recruit-item > .recruit-date {
  grid-area: recruitDate;
  font-size: 12px;
  justify-self: right;
}

/* review */
.review-item {
  width: 200px;
  height: 330px;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  text-align: center;
  display: grid;
  grid-template-rows: 35px 140px 35px 90px 30px;
  grid-template-columns: 40px 80px 10px 70px;
  grid-template-areas:
    "reviewUserImg reviewUserName reviewUserName reviewMountainName"
    "reviewImg reviewImg reviewImg reviewImg"
    "reviewTitle reviewTitle reviewTitle reviewTitle"
    "reviewContents reviewContents reviewContents reviewContents"
    "reviewLike reviewLike . reviewDate";
  align-items: center;
  justify-items: center;
}

.review-item > p {
  margin: 0;
  justify-self: left;
}

.review-item > .user-img {
  grid-area: reviewUserImg;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-self: left;
}

.review-item > .user-name {
    grid-area: reviewUserName;
    font-size: 14px;
    margin: 0;
    width: 100px;
    text-align: left;
    justify-self: left;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-item > .mountain-name {
  grid-area: reviewMountainName;
  font-size: 14px;
  margin: 0;
  justify-self: right;
}

.review-item > .review-img {
  grid-area: reviewImg;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  justify-self: center;
}

.review-item > .review-title {
  grid-area: reviewTitle;
  font-size: 20px;
  margin: 0;
  justify-self: center;
}

.review-item > .review-contents {
  grid-area: reviewContents;
  width: 195px;
  margin: 0;
  font-size: 15px;
  justify-self: center;
  text-align: left;
  white-space: nowrap;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review-item > .review-like {
  grid-area: reviewLike;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-self: left;
}

.review-item > .review-date {
  grid-area: reviewDate;
  font-size: 12px;
  justify-self: right;
}

/* Tablet*/
@media screen and (max-width: 768px) {
  .rankers {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    row-gap: 2%;
  }
  .rank #rankers {
    grid-template-columns: auto auto;
  }
  #rankers #gold {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }
}

/* Phone */
@media screen and (max-width: 425px) {
  .rankers {
    row-gap: 2%;
  }
  .ranker-img {
    width: 125px;
    height: 125px;
  }
}
