@charset "UTF-8";

img {
    /* 드래그 방지 */
    -webkit-user-drag: none;
}
/* div한번더사용 */
.container {
    width: 100%;
    position:  relative;
}

/* 프레임 */
.mountain-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    gap: 20px;
    grid-template-areas:
    "infoBoard infoBoard selectSort selectSort";

    place-items: center;
    justify-content: center;
}


.info-board {
    grid-area: infoBoard;

    justify-self: left;
}
.info-board > h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;

    text-align: center;
}



/* Item */
.mountain-item {
    width: 200px;
    height: 330px;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);

    background-color: #fff;

    text-align: center;

    display: grid;
    grid-template-rows: 165px 45px 90px 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "mountainImg mountainImg mountainImg"
        "mountainName mountainName mountainName"
        "mountainContents mountainContents mountainContents"
        "mountainLike . .";

    align-items: center;
    justify-items: center;  
}
.mountain-item > p {	
    margin: 0;
    justify-self: left;

    grid-area: mountainContents;

    width: 195px;

    font-size: 15px;

    text-align: left;

    display: block;
    display: -webkit-box;
    overflow: hidden;
    white-space: nowrap;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.mountain-item > .mountain-img {
    grid-area: mountainImg;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.mountain-item > .mountain-name {
    grid-area: mountainName;

    font-size: 20px;
    margin: 0;

    display: inline-block;
    width: 185px;
    align-content: center;
    justify-self: center;

    display: block;
	display: -webkit-box;
	overflow: hidden;
	white-space: nowrap;
	white-space: normal;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.mountain-item > .mountain-contents {
    grid-area: mountainContents;

    width: 195px;

    font-size: 15px;

    text-align: left;

    display: block;
    display: -webkit-box;
    overflow: hidden;
    white-space: nowrap;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.mountain-item > .mountain-like {
    grid-area: mountainLike;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;

    justify-self: left;
}
.mountain-like > .favorite {
    width: 30px;
    height: 30px;
    border: 0;
  	background: url(../svg/favorite-off.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.on.favorite {
  width: 30px;
  height: 30px;
  border: 0;
  background: url(../svg/favorite-on.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.mountain-like > .favorite-count {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .mountain-info {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "infoBoard infoBoard selectSort";
    }
}

@media screen and (max-width: 426px) {
    .mountain-info {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "infoBoard"
        "selectSort";
    }

    .info-board {    
        grid-area: infoBoard;

        justify-self: center;
    }
}