
/* 로딩화면 */
.loader {
	display: none;
    position: absolute;
    left: 50%;
    top: 100px;
    z-index: 3;
    margin: 0 0 0 -27px;
    width: 50px;
    height: 50px;
    border: 10px solid rgb(255 255 255 / 75%);
    border-radius: 50%;
    border-top-color: #80ff7b;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
/*
.content1 {
  margin-bottom: 15px;
}
.content2 {
  margin-bottom: 15px;
}
*/
table {
	margin-bottom: 15px;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}