/* Item */
.recruit-item {
	width: 200px;
	height: 330px;
	padding: 15px;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
	background-color: #fff;
	text-align: center;
	display: grid;
	grid-template-rows: 35px 140px 35px 30px 30px 30px 30px;
	grid-template-columns: 40px 40px 40px 10px 70px;
	grid-template-areas:
		"recruitUserImg recruitUserName recruitUserName recruitUserName recruitMountainName"
		"recruitImg recruitImg recruitImg recruitImg recruitImg"
		"recruitTitle recruitTitle recruitTitle recruitTitle recruitTitle"
		"recruitScheduleSchedule recruitSchedule recruitSchedule recruitSchedule recruitSchedule"
		"recruitScheduleTime recruitTime recruitTime recruitTime recruitTime"
		"recruitScheduleMember recruitScheduleMember recruitMember recruitMember recruitMember"
		"recruitLike recruitLike recruitLike recruitLike recruitDate";
	align-items: center;
	justify-items: center;
}
.recruit-item>p {
	margin: 0;
	justify-self: left;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	white-space: nowrap;
	white-space: normal;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.recruit-item>.user-img {
	grid-area: recruitUserImg;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	justify-self: left;
}
.user-img:hover {
	border: 2px solid #14ab2c;
}
.recruit-item>.user-name {
	grid-area: recruitUserName;
	font-size: 14px;
	width: 100px;
	text-align: left;
	justify-self: left;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.user-name:hover {
	color: #14ab2c;
}
.recruit-item>.mountain-name {
	grid-area: recruitMountainName;
	font-size: 14px;
	margin: 0;
	justify-self: right;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	white-space: nowrap;
	white-space: normal;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.recruit-item>.recruit-img {
	grid-area: recruitImg;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	justify-self: center;
}
.recruit-item>.recruit-title {
	grid-area: recruitTitle;
	font-size: 20px;
	margin: 0;
	display: inline-block;
	width: 185px;
	align-content: center;
	justify-self: center;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	white-space: nowrap;
	white-space: normal;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.recruit-item>.recruit-schedule-schedule {
	grid-area: recruitScheduleSchedule;
	font-size: 15px;
}
.recruit-schedule {
	grid-area: recruitSchedule;
	font-size: 15px;
}
.recruit-schedule-time {
	grid-area: recruitScheduleTime;
	font-size: 15px;
}
.recruit-time {
	grid-area: recruitTime;
	font-size: 15px;
}
.recruit-schedule-member {
	grid-area: recruitScheduleMember;
	font-size: 15px;
}
.recruit-member {
	grid-area: recruitMember;
	font-size: 15px;
}
.recruit-item>.recruit-like {
	grid-area: recruitLike;
	text-align: left;
	display: flex;
	align-items: center;
	gap: 5px;
	justify-self: left;
}
.recruit-like>.favorite {
	width: 30px;
	height: 30px;
	border: 0;
	background: url(../svg/favorite-off.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.on.favorite {
	width: 30px;
	height: 30px;
	border: 0;
	background: url(../svg/favorite-on.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.recruit-like>.favorite-count {
	font-size: 12px;
}
.recruit-item>.recruit-date {
	grid-area: recruitDate;
	font-size: 12px;
	justify-self: right;
	align-self: flex-end;
}