.scrollToTop {
	width: 50px;
	height: 50x;
	z-index: 5;
	position: fixed;
	right: 5%;
	bottom: 110px;
	display: none;
}

.add-item {
	width: 50px;
	height: 50x;
	z-index: 5;
	position: fixed;
	right: 5%;
	bottom: 50px;
}