/* Item */
.review-item {
	width: 200px;
	height: 330px;
	padding: 15px;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
	background-color: #fff;
	text-align: center;
	display: grid;
	grid-template-rows: 35px 140px 35px 90px 30px;
	grid-template-columns: 40px 80px 10px 70px;
	grid-template-areas:
		"reviewUserImg reviewUserName reviewUserName reviewMountainName"
		"reviewImg reviewImg reviewImg reviewImg"
		"reviewTitle reviewTitle reviewTitle reviewTitle"
		"reviewContents reviewContents reviewContents reviewContents"
		"reviewLike reviewLike . reviewDate";
	align-items: center;
	justify-items: center;
}
.review-item>p {
	margin: 0;
	justify-self: left;
}
.review-item>.user-img {
	grid-area: reviewUserImg;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	justify-self: left;
}
.user-img:hover {
	border: 2px solid #14ab2c;
}
.review-item>.user-name {
	grid-area: reviewUserName;
	font-size: 14px;
	margin: 0;
	width: 100px;
	text-align: left;
	justify-self: left;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.user-name:hover {
	color: #14ab2c;
}
.review-item>.mountain-name {
	grid-area: reviewMountainName;
	font-size: 14px;
	margin: 0;
	justify-self: right;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	white-space: nowrap;
	white-space: normal;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.review-item>.review-img {
	grid-area: reviewImg;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	justify-self: center;
}
.review-item>.review-title {
	grid-area: reviewTitle;
	font-size: 20px;
	margin: 0;
	display: inline-block;
	width: 185px;
	align-content: center;
	justify-self: center;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	white-space: nowrap;
	white-space: normal;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.review-item>.review-contents {
	grid-area: reviewContents;
	width: 195px;
	margin: 0;
	font-size: 15px;
	justify-self: center;
	text-align: left;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	white-space: nowrap;
	white-space: normal;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.review-item>.review-like {
	grid-area: reviewLike;
	text-align: left;
	display: flex;
	align-items: center;
	gap: 5px;
	justify-self: left;
}
.review-like>.favorite {
	width: 30px;
	height: 30px;
	border: 0;
	background: url(../svg/favorite-off.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.on.favorite {
	width: 30px;
	height: 30px;
	border: 0;
	background: url(../svg/favorite-on.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.review-like>.favorite-count {
	font-size: 12px;
}
.review-item>.review-date {
	grid-area: reviewDate;
	font-size: 12px;
	justify-self: right;
	align-self: flex-end;
}