@charset "utf-8";

.container {
  display: grid;

  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 1%;

  justify-content: center;

  margin: 0 0 32px;
  padding: 20px;

  background-color: rgba(78, 197, 61, 0.4);

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border: 0;
  border-radius: 10px;
}

.container>div {
  display: flex;

  align-items: center;
  justify-content: flex-start;

  font-size: 15px;
}

.sanImg {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;

  margin: 0px 18px 0 0;

  width: 250px;
  height: 250px;
}

.sanImg img {

  width: 250px;
  height: 250px;
  border-radius: 50%;

}

.sanName {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.weather {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

  flex-direction: column !important;
}
.weather span {
  display: inline-block;

  font-size: 12px;
}
.weather img {
  display: inline-block;

  width: 50px;
  height: 50px;
}

.sanAddress {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container>div>span.column {

  width: 45px;
  margin: 0 15px 0 0;
}

.container>div>span.value {

  width: 300px;
}

.container>div.sanName>span.value {

  font-size: 25px;
}

.like {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.like>button {
  width: 33px;
  height: 33px;
  border: 0;

  background: url(../svg/favorite-off.svg);
  background-repeat: no-repeat;
  background-size: contain;

  margin: 0 27px 0 0;
}
.like>button.on {
  background: url(../svg/favorite-on.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;

  justify-content: space-around !important;
}

.button>button {

  margin: 0 12px 0 0;
  padding: 9px 15px;

  font-size: 18px !important;

  background-color: rgba(78, 197, 61, 1);
  border-radius: 10px;
  border-style: none;
  color: white;

  transition: all 400ms ease;
}

.button>button:hover {

  color: rgba(78, 197, 61, 1);
  background-color: white;

  z-index: 2;
  transition: all 600ms ease;
}

#content-section {
  position: relative;
  text-align: center;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border: 0;
  border-radius: 15px;
}

.content-header-menu {
  line-height: 50px;
  margin-top: 0px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content-header-menu-item {
  display: inline-block;
  justify-content: center;
  border-radius: 15px;

  transition: all 400ms ease;
}

.content-header-menu li:hover {
  background-color: rgba(78, 197, 61, 0.75);

  z-index: 2;
  transition: all 400ms ease;
}

.content-header-menu li:hover input {
  font-weight: bold;
  color: #fff;

  transition: all 400ms ease;
}

.content-header-menu li.selected {
  background-color: rgba(78, 197, 61, 1);

  transition: all 400ms ease;
}

.content-header-menu li.selected input {
  color: #fff;

  transition: all 400ms ease;
}

input.sanInfoMenu {
  cursor: pointer;
  font-size: medium !important;
  border-style: none !important;
  background-color: #4ec53d00 !important;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  height: 100%;
}

.contentsbox {
  background: #fff;

  border: 0;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  padding: 32px 20px;

  font-size: 15px;

  transition: all 400ms ease;
}


@media screen and (max-width: 768px) {
  .content-header-menu {
    grid-template-columns: 1fr 1fr;
  }

  .cotents {

    font-size: 13px;
    min-height: max-content;
  }

  .profile-image {
    height: 180px;
  }

  .weather-image {
    height: 90px;
  }



}

@media screen and (max-width: 426px) {

  .content-header-menu li:hover {
    font-weight: bold;
    color: #fff;
    background-color: #7ccf144a;
    border-radius: 150px;
    padding: 1px 23px;
    z-index: 1;
    /* transition: 0.7s; */
    transform: scale(1.1);
    transition: all 400ms ease;
  }

  .san {
    width: 240px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .sanin {
    font-size: 16px;
  }

  .profile-image {
    height: 120px;
    margin: auto;
  }

  .weather-image {
    height: 60px;
    margin-top: 30%;
  }

  .mimoname {
    font-size: 12px;
  }

  .mimoaddress {
    font-size: 12px;
  }

  .heart {
    height: 40px;
  }

  .likenum {
    font-size: 12px;
  }

  .content-header-menu {
    width: 90%;
    margin-left: 5%;
  }

  .cotents {
    width: 86%;
    margin-left: 2%;
  }

  #mozip {
    font-size: 12px;

  }

  #hugis {
    font-size: 12px;
  }

}