h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}
.mypage-container {
  margin: auto;
  padding: 0px 2.5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.profile {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-around;
}
/* 마이페이지 구간  */
.profile-image {
  margin-top: 23px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.profile-image > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(220, 237, 195);
}

.div-name-setting {
  position: relative;
}

.div-name-setting > .nickname {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: rgb(41, 41, 41);
  overflow-wrap: break-word;
}

.name-setting img {
  position: absolute;
  left: 75%;
  width: 18%;
  top: 7%;
}
.name-badge-setting {
  display: grid;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  height: 250px;
  border-radius: 10px;
}
.badge-collection {
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(78, 197, 61, 0.75);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(185 185 185 / 15%), 0px 5px 10px rgb(185 185 185 / 15%);
}
.badge-header {
  font-size: larger;
  font-weight: bolder;
}
.badge-header img {
  position: relative;
  width: 35px;
  top: -7%;
}
.badge-medal {
  margin: 10px auto;
  text-align: center;
}
.badge-medal img {
  display: inline-block;
  margin: 10px 10px 0px 10px;
}

#content-section {
  position: relative;
  text-align: center;
}
.content-header-menu {
  line-height: 50px;
  margin-top: 0px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  display: grid;
  box-shadow: 0 4px 4px rgb(185 185 185 / 10%), 0 4px 4px rgb(185 185 185 / 10%);
  grid-template-columns: 1fr 1fr;
}
.content-header-menu-item {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
}

.content-header-menu li:hover {
  background-color: #7ccf144a;
  border-radius: 15px;
  z-index: 1;
}
.content-header-menu li:active {
  background: rgba(78, 197, 61, 0.75);
  border-radius: 15px;
}
.content-header-menu #item-point {
  font-weight: bold;
  background-color: rgba(78, 197, 61, 0.75);
  border-radius: 15px;
  height: 50px;
  text-align: center;
}
.content-header-menu .prfileMenu:active {
  color: #fff;
  font-weight: bold;
}
.content-header-menu #item-point .prfileMenu {
  color: #fff;
  font-weight: bold;
}

/* 뱃지 */
.badge-collection {
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(78, 197, 61, 0.75);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(185 185 185 / 15%), 0px 5px 10px rgb(185 185 185 / 15%);
  height: auto;
  gap: 5px;
  display: grid;
  grid-template-rows: 35px 100px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "badge-header badge-header badge-header badge-header badge-header"
    "badge-item1 badge-item2 badge-item3 badge-item4 badge-item5";
}
.badge-header {
  display: flex;
  font-size: larger;
  font-weight: bolder;
  color: white;
  grid-area: badge-header;
  align-items: center;
}
a.badge-setting {
  color: white;
}
/* 그리드 영역 분배 */
.badge-item1 {
  grid-area: badge-item1;
}
.badge-item2 {
  grid-area: badge-item2;
}
.badge-item3 {
  grid-area: badge-item3;
}
.badge-item4 {
  grid-area: badge-item4;
}
.badge-item5 {
  grid-area: badge-item5;
}

.sanBadge {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}
.sirenbar {
  width: max-content;
  position: absolute;
  font-size: larger;
  font-weight: bold;
  top: 5px;
  bottom: 0;
  left: 85%;
}
.report {
  font-weight: bold;
  border: 0;
  background-color: rgb(220 237 195 / 0%);
}

.report {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  line-height: 1;
  padding: 3px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.report:hover,
.report:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #f14a4a inset;
}
.report:hover {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

input.profileMenu {
  cursor: pointer;
  font-size: medium !important;
  border-style: none !important;
  background-color: #4ec53d00 !important;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  height: 100%;
}
.profileMenu:hover,
.profileMenu:focus {
  font-size: medium !important;
  border-style: none !important;
  background-color: #4ec53d00 !important;
}
.content-header-menu #item-point input.profileMenu {
  color: #fff !important ;
  font-weight: bold !important ;
}

/* 모바일일때  */
@media screen and (max-width: 838px) {
  .mypage-container {
    padding: 0px 2.5%;
    gap: 0;
    width: auto;
    box-sizing: border-box;
  }
  .profile {
    justify-content: space-around;
    display: grid;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-items: center;
  }
  .profile-image {
    margin-top: 0;
    width: 150px;
    height: 150px;
    background-size: contain;
  }

  /* 작아졌을떄~ */
  .name-badge-setting {
    width: auto;
    gap: 10px;
    height: fit-content;
    border-radius: 10px;
    justify-items: center;
    align-content: stretch;
  }
  .content-header-menu {
    width: auto;
    line-height: 45px;
  }
  .cotents {
    margin: 0;
    font-size: 13px;
    min-height: max-content;
  }

  .badge-medal {
    margin: 10px auto;
    text-align: center;
    margin-bottom: 0px;
  }
  .badge-medal img {
    background-size: contain;
    margin: 2px 2px 0px 2px;
    width: 50px;
  }
  .badge-header {
    font-size: medium;
  }
  .badge-header img {
    top: -13%;
  }
  #content-section li {
    width: auto;
  }
  .name-setting img {
    top: 21%;
  }
  .badge-collection {
    grid-template-rows: 35px auto;
  }
  .sanBadge {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
  }
  .sirenbar {
    left: 120%;
    font-size: 15px;
    top: 12%;
  }
}
