<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.wego.mapper.BadgeGetMapper">

	<!-- 뱃지 획득 -->
	<insert id="insertByBadgeIdAndUserID">
		
		INSERT INTO badge_get_tb (badge_id, user_id)
		VALUES (#{badgeId}, #{userId})
		
	</insert>


	<!-- 특정 유저의 뱃지 획득 내역에서 데이터를 조회 -->
	<select id="selectAllByUserId"
		resultType="org.zerock.wego.domain.badge.BadgeGetVO">
		
	  	SELECT
	  		T2.badge_get_id,
	  		T2.user_id,
	   		T1.badge_id,
	   		T1.badge_name,
	   		T1.img,
	   		T2.created_dt,
	   		T2.status,
	   		T2.ranking
	    FROM
	    	badge_tb T1,
	    	(
	    		SELECT
	    			*
	    		FROM
	    			badge_get_tb
	    		WHERE
					user_id = #{userId}
	    	
	    	) T2
		WHERE 
			T1.badge_id  = T2.badge_id
		ORDER BY
			T1.badge_id, T2.created_dt

	</select>
	
	
	<select id="selectAllPickBadgeByUserId"
		resultType="org.zerock.wego.domain.badge.BadgeGetVO">
		
		SELECT
	  		T2.badge_get_id,
	  		T2.user_id,
	   		T1.badge_id,
	   		T1.badge_name,
	   		T1.img,
	   		T2.created_dt,
	   		T2.status,
	   		T2.ranking
	    FROM
	    	badge_tb T1,
	    	(
	    		SELECT
	    			*
	    		FROM
	    			badge_get_tb
	    		WHERE
					user_id = #{userId}
	    	
	    	) T2
		WHERE 
			T1.badge_id  = T2.badge_id
		ORDER BY
			T2.status

	</select>
	
	
	<!-- 특정 유저가 선택한 뱃지의 상태(대표상태)를 선택한 순서로 초기화 -->
	<update id="updatePickBadgeStatusToPickedSequence">

		UPDATE
			badge_get_tb
		SET
			status = #{pickSequence}
		WHERE
			user_id = #{userId} AND
			badge_id = #{pickBadgeId}

	</update>
	
	<!-- 특정 유저가 선택한 뱃지를 제외하고 나머지 뱃지의 상태(대표상태)를 "선택되지 않음('N')"으로 초기화 -->
	<update id="updateNotPickBadgeStautToN">

		UPDATE 
			badge_get_tb
		SET
			status = 'N'
		WHERE
			user_id = #{userId} AND
		<foreach item="pickList" collection="pickList"
        	open="badge_id NOT IN (" separator="," close=")">
          #{pickList}
    	</foreach>
	</update>
	
	<!-- 존재하는지? -->
	<select id="isExistByUserIdAndBadgeId" 
  			resultType = "java.lang.Boolean">
  		
  		SELECT
  			CASE WHEN EXISTS 
  				(
            		SELECT 1 
	            	FROM badge_get_tb
	            	WHERE user_id = #{userId} AND badge_id = #{badgeId}
        		) 
        		THEN 1 ELSE 0 END AS "is_exist"
        FROM dual
  	</select>
	
</mapper>