<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.FavoriteMapper">

	<select id="getUserFavoriteOnList" 
		resultType="org.zerock.wego.domain.common.FavoriteVO">
		SELECT * 
		FROM like_tb 
		WHERE 
			user_id = ${userId} 
			AND status = 'Y'
	</select>
	
	<!-- *********** 존재여부 ************ -->
	<select id="isExist" 
			resultType = "java.lang.Boolean">
		SELECT
        	CASE WHEN 
        	EXISTS (
            	SELECT 1 
            	FROM like_tb
            	WHERE target_gb = #{targetGb}
            	AND target_cd = #{targetCd}
            	AND user_id = #{userId}
        		) 
        		THEN 1 ELSE 0 END AS exist
    	FROM dual
	</select>

	<select id="select" 
		resultType="org.zerock.wego.domain.common.FavoriteVO">
		SELECT *
		FROM like_tb
		WHERE
			user_id = #{userId}
			AND target_gb = #{targetGb}
			AND target_cd = #{targetCd}
	</select>
	
	<select id="selectTotalCountByTarget">
		
		SELECT NVL(COUNT(user_id), 0)
		FROM like_tb
		WHERE
			target_gb = #{targetGb}
			AND target_cd = #{targetCd}	
	</select>
	
	<insert id="insert">
		INSERT INTO
		like_tb (user_Id, target_gb, target_cd, modified_dt)
		VALUES (#{userId}, #{targetGb}, #{targetCd}, CURRENT_TIMESTAMP)
	</insert>

	<update id="update">
		UPDATE like_tb
		SET
			status = #{status},
			modified_dt = CURRENT_TIMESTAMP
		WHERE
			user_id = #{userId}
			AND target_gb = #{targetGb}
			AND target_cd = #{targetCd}
	</update>
	
	<delete id="deleteByTarget">
		DELETE
		FROM
			like_tb
		WHERE
			target_gb = #{targetGb}
			AND target_cd = #{targetCd}
	</delete>
	
</mapper>