<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  <mapper namespace = "org.zerock.wego.mapper.JoinMapper">

	<!-- ************ 참여 인원 확인  ************ -->
    <select 
    	id="selectTotalCount">
    	
    	SELECT 
    		COUNT(user_id)
    	FROM 
    		join_tb
    	WHERE 
    		san_party_id = #{sanPartyId}
    </select>
    
    <!-- ************ 참여 여부 확인  ************ -->
    <select 
    	id="selectById" 
    	resultType="String">
    	
    	SELECT 
    		1
    	FROM 
    		join_tb
    	WHERE 
    		san_party_id = #{sanPartyId}
    		AND 
    		user_id = #{userId}
    </select>
    
	<!-- ************ 참여 생성  ************ -->
    <insert 
    	id="insert">
    	
    	INSERT INTO join_tb
    		(san_party_id, user_id)
    	VALUES
    		(#{sanPartyId}, #{userId})
    </insert>
    
    <delete
    	id="delete">
    	
    	DELETE
    	FROM
    		join_tb
    	WHERE
    		san_party_id = #{sanPartyId}
    		AND
    		user_id = #{userId}	
    </delete>
    
    <select id="selectUserIdsBySanPartyId" parameterType="java.lang.Integer" >
   		SELECT user_id FROM join_tb WHERE san_party_id = #{sanPartyId}
    </select>

  </mapper>
  
  
  
  
  
  												