<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  <mapper namespace = "org.zerock.wego.mapper.JoinMapper">


    <!-- ************ 참여 여부 확인  ************ -->
    <select 
    	id="selectById" 
    	resultType="String">
    	
    	SELECT 
    		status
    	FROM 
    		join_tb
    	WHERE 
    		san_party_id = #{sanPartyId}
    		AND user_id = #{userId}
    </select>
    
    
	<!-- ************ 참여 생성  ************ -->
    <insert 
    	id="insert">
    	
    	INSERT INTO join_tb
    		(san_party_id, user_id)
    	VALUES
    		(#{sanPartyId}, #{userId})
    </insert>
    
    
    <!-- ************ 참여 신청/취소 토글 ************ -->
    <update 
    	id="update">
    	
    	UPDATE
    		join_tb
    	SET
    		status = #{status}
    	WHERE
    		san_party_id = #{dto.sanPartyId}
    		AND
    		user_id = #{dto.userId}
    </update>
    
<!--     ************ 특정글 참여 삭제 ************ -->
<!--     <delete  -->
<!--     	id="deleteById"> -->
<!--     	DELETE -->
<!--     	FROM -->
<!--     		join_tb -->
<!--     	WHERE -->
<!--     		san_party_id = #{sanPartyId} -->
<!--     </delete> -->
    
  </mapper>
  
  
  
  
  
  												