<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.ProfileMapper">

    <select id="selectUserId" resultType="org.zerock.wego.domain.UserVO">
		SELECT 
			*
		FROM
			user_tb
		WHERE
			user_id = #{userId}
    </select>

	<select id ="selectAll" resultType="org.zerock.wego.domain.ProfileVO">
		SELECT * 
		FROM (
			SELECT
				'등산후기' "boardName",
				SAN_REVIEW_ID "srtId",
				USER_ID "user",
				TITLE,
				CREATED_DT,
				LIKE_CNT "likeCnt"
			FROM 
				SAN_REVIEW_V srt 
			WHERE 
				USER_ID = #{userId}
				UNION 
			SELECT
				'등산모집' "boardName",
				san_party_id "srtId",
				USER_ID "user",
				TITLE,
				CREATED_DT,
				LIKE_CNT "likeCnt"
			FROM 
				SAN_PARTY_V  srt 
			WHERE 
				USER_ID = #{userId} )
		ORDER BY CREATED_DT DESC
		OFFSET (#{cri.currPage} - 1 ) * #{cri.amount} ROWS
		FETCH NEXT #{cri.amount} ROWS ONLY
	</select>

	<select id ="selectTotalCount" resultType="Integer">
		SELECT count(id)
		FROM (
				SELECT SAN_REVIEW_ID AS id
				FROM SAN_REVIEW_V
				WHERE USER_ID = #{userId}
				UNION
				SELECT SAN_PARTY_ID AS id
				FROM SAN_PARTY_V
				WHERE USER_ID = #{userId}
			 ) post
	</select>

	<select id ="selectAllComment" resultType="org.zerock.wego.domain.ProfileCommentVO">
		SELECT * FROM (
			    SELECT
			        '등산후기' "targetGb",
					TARGET_CD "targetCb",
			        COMMENT_ID "commentId",
			        USER_ID "userId",
			        CONTENTS "contents",
			        "CREATED_DT" "CREATED_DT",
			        "MENTION_CNT" "MENTION_CNT"
			    FROM 
			        COMMENT_V ctv
			    WHERE 
			        USER_ID = #{userId} AND 
			        TARGET_GB = 'SAN_REVIEW'
			    UNION 
			    SELECT
					'등산모집' "targetGb",
					TARGET_CD "targetCb",
			        COMMENT_ID "commentId",
			        USER_ID "userId",
			        CONTENTS "contents",
			        "CREATED_DT" "CREATED_DT",
			        "MENTION_CNT" "MENTION_CNT"
			    FROM 
			        COMMENT_V ctv 
			    WHERE 
			        USER_ID = #{userId} AND 
			        TARGET_GB = 'SAN_PARTY'
			)
			ORDER BY "CREATED_DT" DESC
			OFFSET ( #{cri2.currPage} - 1 ) * #{cri2.amount} ROWS
			FETCH NEXT #{cri2.amount} ROWS ONLY
	</select>

	<select id ="selectTotalCountComment" resultType="Integer">
		SELECT count(COMMENT_ID)
			FROM COMMENT_V
			WHERE USER_ID = #{userId} AND COMMENT_ID > 0
	</select>
</mapper>