<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.ProfileMapper">

	<select id="selectUserId"
		resultType="org.zerock.wego.domain.common.UserVO">
		SELECT
		*
		FROM
		user_tb
		WHERE
		user_id = #{userId}
	</select>

	<select id="selectAll"
		resultType="org.zerock.wego.domain.profile.ProfileVO">
		SELECT *
		FROM (
		SELECT
		'등산후기' "boardName",
		SAN_REVIEW_ID "srtId",
		USER_ID "user",
		TITLE,
		CREATED_DT,
		LIKE_CNT "likeCnt",
		VISIT_CNT "visitCount"
		FROM
		SAN_REVIEW_V srt
		WHERE
		USER_ID = #{userId}
		UNION
		SELECT
		'등산모집' "boardName",
		san_party_id "srtId",
		USER_ID "user",
		TITLE,
		CREATED_DT,
		LIKE_CNT "likeCnt",
		VISIT_CNT "visitCount"
		FROM
		SAN_PARTY_V srt
		WHERE
		USER_ID = #{userId} )
		ORDER BY CREATED_DT DESC
		OFFSET (#{cri.currPage} - 1 ) *
		#{cri.amount} ROWS
		FETCH NEXT #{cri.amount} ROWS ONLY
	</select>

	<select id="selectTotalCount" resultType="Integer">
		SELECT count(id)
		FROM (
		SELECT SAN_REVIEW_ID AS id
		FROM SAN_REVIEW_V
		WHERE USER_ID = #{userId}
		UNION
		SELECT SAN_PARTY_ID AS id
		FROM SAN_PARTY_V
		WHERE USER_ID = #{userId}
		) post
	</select>

	<select id="selectAllComment"
		resultType="org.zerock.wego.domain.profile.ProfileCommentVO">
		SELECT * FROM (
		SELECT
		'등산후기' "targetGb",
		TARGET_CD "targetCb",
		COMMENT_ID "commentId",
		USER_ID "userId",
		CONTENTS "contents",
		"CREATED_DT" "CREATED_DT",
		"MENTION_CNT" "MENTION_CNT"
		FROM
		COMMENT_V ctv
		WHERE
		USER_ID = #{userId} AND
		TARGET_GB = 'SAN_REVIEW'
		UNION
		SELECT
		'등산모집' "targetGb",
		TARGET_CD "targetCb",
		COMMENT_ID "commentId",
		USER_ID "userId",
		CONTENTS "contents",
		"CREATED_DT" "CREATED_DT",
		"MENTION_CNT" "MENTION_CNT"
		FROM
		COMMENT_V ctv
		WHERE
		USER_ID = #{userId} AND
		TARGET_GB = 'SAN_PARTY'
		)
		ORDER BY "CREATED_DT" DESC
		OFFSET ( #{cri2.currPage} - 1 ) * #{cri2.amount} ROWS
		FETCH NEXT #{cri2.amount} ROWS ONLY
	</select>

	<select id="selectTotalCountComment" resultType="Integer">
		SELECT
		count(COMMENT_ID)
		FROM COMMENT_V
		WHERE USER_ID = #{userId} AND COMMENT_ID > 0
	</select>
	
	<insert id ="insertProfilePictureInFileDTO">
		INSERT
			INTO file_tb (target_gb,target_cd,file_name,uuid,path)
		VALUES
			(#{targetGb},#{targetCd},#{fileName},#{uuid},#{path})
	</insert>
	
	<update id ="updateProfile">
		UPDATE user_tb SET user_pic = #{userPic}
		WHERE user_id = #{userId}
	</update>
	
	<select id ="selectProfilePicturePath">
		SELECT path
		FROM file_tb
		WHERE uuid = (
			SELECT user_pic
			FROM user_tb
			WHERE user_id = #{userId}
			)
	</select>
	
	<update id ="updateNick">
		UPDATE user_tb
		SET nickname= #{nickname}
		WHERE user_id = #{userId}
	</update>
	
	<select id ="selectAvailableParty" resultType="org.zerock.wego.domain.profile.MyPartyVO">
	 <![CDATA[
	  SELECT san_Party_Id, (SELECT san_name FROM san_info_tb WHERE san_info_tb.san_info_id=san_party_tb.san_info_id) AS san_name,
	        user_id, created_dt, modified_dt,
	        title, contents, party_dt, 
	        (SELECT count(san_party_id)
	        FROM join_tb
	        WHERE join_tb.san_party_id=san_party_tb.san_party_id
	        GROUP BY san_party_id),
	        party_Max, items, condition
		 FROM san_party_tb
		 WHERE TO_CHAR(SYSDATE, 'yyyy/MM/dd HH:MM') <= TO_CHAR(party_dt, 'yyyy/MM/dd HH:MM')
		    AND san_party_id in (SELECT san_party_id FROM join_tb WHERE user_id = #{userId})
			OFFSET ( #{currPage} - 1 ) * #{amount} ROWS
			FETCH NEXT #{amount} ROWS ONLY
		]]>
	</select>
	
	<select id ="selectPastParty" resultType="org.zerock.wego.domain.profile.MyPartyVO">
		<![CDATA[
	  SELECT san_Party_Id, (SELECT san_name FROM san_info_tb WHERE san_info_tb.san_info_id=san_party_tb.san_info_id) AS san_name,
	        user_id, created_dt, modified_dt,
	        title, contents, party_dt, 
	        (SELECT count(san_party_id)
	        FROM join_tb
	        WHERE join_tb.san_party_id=san_party_tb.san_party_id
	        GROUP BY san_party_id),
	        party_Max, items, condition
		 FROM san_party_tb
		 WHERE TO_CHAR(SYSDATE, 'yyyy/MM/dd HH:MM') > TO_CHAR(party_dt, 'yyyy/MM/dd HH:MM')
		    AND san_party_id in (SELECT san_party_id FROM join_tb WHERE user_id = #{userId})
			OFFSET ( #{currPage} - 1 ) * #{amount} ROWS
			FETCH NEXT #{amount} ROWS ONLY
		]]>
	</select>
	
	<select id ="selectTotalCountAvailableParty" resultType="Integer">
		<![CDATA[
			SELECT count(san_party_id)
			FROM san_party_tb
			WHERE TO_CHAR(SYSDATE, 'yyyy/MM/dd HH:MM') <= TO_CHAR(party_dt, 'yyyy/MM/dd HH:MM')
		   	 AND san_party_id in (SELECT san_party_id FROM join_tb WHERE user_id = #{userId})
		]]>
	</select>
	
	<select id ="selectTotalCountPastParty" resultType="Integer">
		<![CDATA[
			SELECT count(san_party_id)
			FROM san_party_tb
			WHERE TO_CHAR(SYSDATE, 'yyyy/MM/dd HH:MM') > TO_CHAR(party_dt, 'yyyy/MM/dd HH:MM')
			 AND san_party_id in (SELECT san_party_id FROM join_tb WHERE user_id = #{userId})
		]]>
	</select>
	
	 <update id="updateMyInfo">
  		UPDATE user_tb
		SET address=#{address}, san_range=#{sanRange}, san_taste=#{sanTaste}
		WHERE user_id=#{userId}
	 </update>
	 
	 <select id="countEqualNickname" resultType="Integer">
  		SELECT count(nickname)
		FROM user_tb
		WHERE nickname=#{nickname}
	 </select>
	 
	 <select id="selectLikeSanInfoList" resultType="org.zerock.wego.domain.info.SanInfoViewVO">
		SELECT *
		FROM san_info_v
		WHERE SAN_INFO_ID in
		    (SELECT target_cd
		    FROM like_tb
		    WHERE
		    user_id = #{userId}
		    AND target_gb = #{targetGb}
		    AND STATUS = 'Y'
		    )
	 </select>	
	 
	 <select id="selectLikeSanPartyList" resultType="org.zerock.wego.domain.party.PartyViewVO">
		SELECT *
		FROM san_party_v
		WHERE SAN_PARTY_ID in
		    (SELECT target_cd
		    FROM like_tb
		    WHERE
		    user_id = #{userId}
		    AND target_gb = #{targetGb}
		    AND STATUS = 'Y'
		    )
    </select>	
    
    <select id="selectLikeSanReviewList" resultType="org.zerock.wego.domain.review.ReviewViewVO">
	    SELECT *
		FROM san_review_v
		WHERE SAN_REVIEW_ID in
		    (SELECT target_cd
		    FROM like_tb
		    WHERE
		    user_id = #{userId}
		    AND target_gb = #{targetGb}
		    AND STATUS = 'Y'
		    )
    </select>	
	 
	 <!-- 회원 탈퇴
    <update id="deleteMyAccount">
		 update member set
		 	  member_status ='Y'
		 where user_id = #{userId}
    </update> -->
    
		
</mapper>