<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace = "org.zerock.wego.mapper.ReportMapper">
  	
  	
    <!-- ***************** 신고 접수  ******************** -->
    <insert
    	id="insertReportByTargetUserId">
    	
    	INSERT INTO report_tb(
    		user_id,
    		target_gb,
    		target_cd,
    		report_gb) 
    	VALUES(
    		#{userId},
    		#{cri.targetGb},
    		#{cri.targetCd},
			#{reportGb}
	    	)
    </insert>
  </mapper>
  
  
  
  
  
  												