<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.ReviewMapper">

	<select id="selectRandom10"
		resultType="org.zerock.wego.domain.ReviewViewVO">
		SELECT *
		FROM
			(
			SELECT *
			FROM san_review_v
			ORDER BY dbms_random.random
			)
		WHERE rownum &lt;= 10
	</select>

	<select id="select" resultType="org.zerock.wego.domain.ReviewViewVO">
		SELECT *
		FROM san_review_v
		WHERE san_review_id = #{sanReviewId}
	</select>

	<delete id="delete">
		DELETE FROM san_review_tb WHERE san_review_id =
		#{sanReviewId}
	</delete>

	<insert id="insert" parameterType="org.zerock.wego.domain.ReviewDTO">
		INSERT INTO 
			san_review_tb(san_info_id, user_id, title, contents)
			VALUES(#{sanInfoId}, #{userId}, #{title}, #{contents})
		<selectKey keyProperty="sanReviewId" resultType="int" order="AFTER" >
			SELECT max(san_review_id)
			FROM san_review_tb
		</selectKey>
	</insert>

	<update id="update">
		UPDATE san_review_tb
		SET
			san_info_id = #{sanInfoId},
			title = #{title},
			contents = #{contents},
			modified_dt = current_timestamp
		WHERE
			san_review_id = #{sanReviewId}
	</update>

</mapper>