<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.ReviewMapper">

	<select id="selectTotalCountByQuery"
		resultType="java.lang.Double">
		SELECT count(san_review_id)
		FROM san_review_v
		WHERE
			san_review_id > 0
			AND
			(
			title LIKE '%'||#{query}||'%'
			OR contents LIKE '%'||#{query}||'%'
			)
	</select>
	
	<select id="selectAll"
		resultType="org.zerock.wego.domain.review.ReviewViewVO">
		SELECT * 
		FROM san_review_v 
		ORDER BY created_Dt DESC
	</select>
	
	<select id="selectAllOrderByNewest"
		resultType="org.zerock.wego.domain.review.ReviewViewSortVO">
		SELECT * 
		FROM san_review_v_newest
		<if test="sortNum != null">
        	WHERE sort_num &gt; #{sortNum}
		</if>
   		OFFSET ( #{page} - 1 ) * #{amount} ROWS
      	FETCH NEXT #{amount} ROWS ONLY
	</select>
	
	<select id="selectAllOrderByOldest"
		resultType="org.zerock.wego.domain.review.ReviewViewSortVO">
		SELECT * 
		FROM san_review_v_oldest
		<if test="sortNum != null">
        	WHERE sort_num &gt; #{sortNum}
		</if>
   		OFFSET ( #{page} - 1 ) * #{amount} ROWS
      	FETCH NEXT #{amount} ROWS ONLY
	</select>
	
	<select id="selectAllOrderByLike"
		resultType="org.zerock.wego.domain.review.ReviewViewSortVO">
		SELECT * 
		FROM san_review_v_like
		<if test="sortNum != null">
        	WHERE sort_num &gt; #{sortNum}
		</if>
   		OFFSET ( #{page} - 1 ) * #{amount} ROWS
      	FETCH NEXT #{amount} ROWS ONLY
	</select>
	
	<select id="selectSearchReviewByQueryOrderByNewest"
		resultType="org.zerock.wego.domain.review.ReviewViewSortVO">
		SELECT *
		FROM san_review_v_newest
		WHERE
			(
			san_name LIKE '%'||#{query}||'%'
			OR title LIKE '%'||#{query}||'%'
			OR contents LIKE '%'||#{query}||'%'
			)
			<if test="sortNum != null">
        	AND sort_num &gt; #{sortNum}
			</if>
   		OFFSET ( #{page} - 1 ) * #{amount} ROWS
      	FETCH NEXT #{amount} ROWS ONLY
	</select>
	
	<!-- <select id="selectSearchReviewByQueryOrderByOldest"
		resultType="org.zerock.wego.domain.review.ReviewViewSortVO">
		SELECT *
		FROM san_review_v_oldest
		WHERE
			(
			title LIKE '%'||#{search}||'%'
			OR contents LIKE '%'||#{search}||'%'
			)
			<if test="lastItemId != null">
        	AND sort_num &gt; #{lastItemId}
			</if>
   		OFFSET ( #{page} - 1 ) * #{amount} ROWS
      	FETCH NEXT #{amount} ROWS ONLY
	</select> -->
	
	<!-- <select id="selectSearchReviewByQueryOrderByLike"
		resultType="org.zerock.wego.domain.review.ReviewViewSortVO">
		SELECT *
		FROM san_review_v_like
		WHERE
			(
			title LIKE '%'||#{search}||'%'
			OR contents LIKE '%'||#{search}||'%'
			)
			<if test="lastItemId != null">
        	AND sort_num &gt; #{lastItemId}
			</if>
   		OFFSET ( #{page} - 1 ) * #{amount} ROWS
      	FETCH NEXT #{amount} ROWS ONLY
	</select> -->
	
	<select id="selectReviewSuggestion"
		resultType="org.zerock.wego.domain.review.ReviewViewSortVO">
		SELECT * 
		FROM san_review_v_like
		WHERE ROWNUM &lt;= 4
	</select>
	
	<select id="selectRandom10"
		resultType="org.zerock.wego.domain.review.ReviewViewVO">
		SELECT *
		FROM
			(
			SELECT *
			FROM san_review_v
			ORDER BY DBMS_RANDOM.RANDOM
			)
		WHERE ROWNUM &lt;= 10
	</select>
	
	<select id="selectSearchReview3ByQuery"
		resultType="org.zerock.wego.domain.review.ReviewViewVO">
		SELECT *
		FROM san_review_v
		WHERE
			(
			title LIKE '%'||#{search}||'%'
			OR contents LIKE '%'||#{search}||'%'
			)
			AND ROWNUM &lt;= 3
	</select>

	<!--  ************* 존재 여부 *************** -->
	<select id="isExist" 
  			resultType = "java.lang.Boolean">
  		
  		SELECT
        CASE WHEN 
        	EXISTS (
            	SELECT 1 
            	FROM san_review_tb
            	WHERE san_review_id = #{reviewId}
        		) 
        		THEN 1 ELSE 0 END AS exist
    	FROM dual
  	</select>
	
	<!--  ************* 특정 후기글 조회  *************** -->
	<select id="selectById" 
  			resultType = "org.zerock.wego.domain.review.ReviewViewVO">
  		
  		SELECT
  			*
  		FROM
  			san_review_v
  			
  		<where>
  		san_review_id = #{reviewId}
  		</where>
  			
  	</select>

	<insert id="insert" 
		parameterType="org.zerock.wego.domain.review.ReviewDTO">
		INSERT INTO 
			san_review_tb (san_info_id, user_id, title, contents)
			VALUES (#{sanInfoId}, #{userId}, #{title}, #{contents})
			
		<selectKey keyProperty="sanReviewId" resultType="int" order="AFTER" >
			SELECT MAX(san_review_id)
			FROM san_review_tb
		</selectKey>
	</insert>

	<update id="update">
		UPDATE san_review_tb
		SET
			san_info_id = #{sanInfoId},
			title = #{title},
			contents = #{contents},
			modified_dt = current_timestamp
		WHERE
			san_review_id = #{sanReviewId}
	</update>
	
	<!--  ************* 후기글 삭제 *************** -->
	<delete id="delete">
  		DELETE 
  		FROM
  			san_review_tb
  		<where>
  			san_review_id = #{reviewId}
  		</where>
  	</delete>

	<update id="visitCountUp">
		UPDATE san_review_tb
		SET
			VISIT_CNT = VISIT_CNT + 1
		WHERE
			san_review_id = #{reviewId}
	</update>
</mapper>

    
  
  
  
  
  												
