<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "org.zerock.wego.mapper.ReviewMapper">
  	
  	<select id="selectAllReviews" 
  			resultType = "org.zerock.wego.domain.ReviewVO">
  		
  		SELECT
  			*
  		FROM
  			san_review_v
  			
  	</select>
  	
  	
  	<select id="selectReviewByReviewId" 
  			resultType = "org.zerock.wego.domain.ReviewVO">
  		
  		SELECT
  			*
  		FROM
  			san_review_v
  			
  		<where>
  		san_review_id = #{reviewId}
  		</where>
  			
  	</select>
  	
  	 <select id="selectReviewByUserId" 
  			resultType = "org.zerock.wego.domain.ReviewVO">
  		
  		SELECT
  			*
  		FROM
  			san_review_v
  			
  		<where>
  		user_id = #{userId}
  		</where>
  			
  	</select>
  	
  	<select id="selectReviewsByTitle" 
  			resultType = "org.zerock.wego.domain.ReviewVO">
  		
  		SELECT
  			*
  		FROM
  			san_review_v
  			
  		<where>
  		title = #{title}
  		</where>
  			
  	</select>
  	<select id="selectReviewsBySanName" 
  			resultType = "org.zerock.wego.domain.ReviewVO">
  		
  		SELECT
  			*
  		FROM
  			san_review_v
  			
  		<where>
  		san_name = #{sanName}
  		</where>
  			
  	</select>
  	
  	<!--  ************* 후기글 삭제 *************** -->
  	
  	<delete
  		id="deleteReviewByReviewId">
  		
  		DELETE 
  		FROM
  			san_review_tb
  		<where>
  			san_review_id = #{reviewId}
  		</where>
  		
  	</delete>
  	
    
  </mapper>
  
  
  
  
  
  												