<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.wego.mapper.SanInfodeMapper">


<select id="selectById" 
	resultType="org.zerock.wego.domain.info.SanInfodeVO">

      SELECT *
      FROM san_info_v
      WHERE SAN_INFO_ID = #{sanInfoId}

</select>

</mapper>