<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.UserMapper">
	
	<select id= "selectByUserId" resultType="org.zerock.wego.domain.common.UserVO">
		
		SELECT 
			*
		FROM
			user_tb
		WHERE
			user_id = #{userId}
	</select>

	<select id="selectBySocialId" resultType="org.zerock.wego.domain.common.UserVO">
		
		SELECT 
			*
		FROM
			user_tb
		WHERE
			social_id = #{socialId}
	</select>
	
	<select id="selectByNickname" resultType="org.zerock.wego.domain.common.UserVO">
		
		SELECT 
			*
		FROM
			user_tb
		WHERE
			nickname = #{nickname}
	</select>
	
	
	<insert id="insert">
		
		INSERT INTO user_tb(
			nickname, social_id)
		VALUES(
			#{nickname}, #{socialId})
		
	</insert>
	
	<!-- 존재하는지? -->
	<select id="isExist" 
  			resultType = "java.lang.Boolean">
  		
  		SELECT
  			CASE WHEN EXISTS 
  				(
            		SELECT 1 
	            	FROM user_tb
	            	WHERE user_id = #{userId}
        		) 
        		THEN 1 ELSE 0 END AS "is_exist"
        FROM dual
  	</select>
  	
</mapper>