<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.WithdrawMapper">

	<!-- 회원 탈퇴 1. mypage-profile에서 올린 파일 조회 -->
    <select id="seleteMyProfileImagePath" resultType="String">
		SELECT path FROM file_tb
		WHERE target_gb = 'USER_PROFILE' AND target_cd = #{userId}
    </select>
    
    <!-- 회원 탈퇴 2. 모집게시판에서 내가 올린 파일 조회 -->
    <select id="seleteMyPartyImagePath" resultType="String">
		SELECT path FROM file_tb
		WHERE target_gb = 'SAN_PARTY' AND target_cd IN (SELECT san_party_id FROM san_party_tb WHERE user_id = #{userId} )
    </select>
    
    <!-- 회원 탈퇴 3. 리뷰게시판에서 내가 올린 파일 조회 -->
    <select id="seleteMyReviewImagePath" resultType="String">
		SELECT path FROM file_tb
		where target_gb = 'SAN_REVIEW' AND target_cd IN (SELECT san_review_id FROM san_review_tb WHERE user_id = #{userId} )
    </select>
    
    <!-- 회원 탈퇴 4. mypage-profile에서 올린 파일 테이블데이터 삭제 -->
    <delete id="deleteMyProfileImageFileList">
		DELETE FROM file_tb
		WHERE target_gb = 'USER_PROFILE' AND target_cd = #{userId}
    </delete>
    
    <!-- 회원 탈퇴 5. 모집게시판에서 내가 올린 파일 테이블데이터 삭제 -->
    <delete id="deleteMyPartyImageFileList">
		DELETE FROM file_tb
		WHERE target_gb = 'SAN_PARTY' AND target_cd IN (SELECT san_party_id FROM san_party_tb WHERE user_id = #{userId} )
    </delete>
    
    <!-- 회원 탈퇴 6. 리뷰게시판에서 내가 올린 파일 테이블데이터 삭제 -->
    <delete id="deleteMyReviewImageFileList">
		DELETE FROM file_tb
		where target_gb = 'SAN_REVIEW' AND target_cd IN (SELECT san_review_id FROM san_review_tb WHERE user_id = #{userId} )
    </delete>
    
    <!-- 회원 탈퇴 7. 나와 관련된 데이터 테이블 삭제 -->
    <!-- #{tableName}에 들어갈 목록: ALARM_TB, BADGE_GET_TB, CHAT_TB, COMMENT_TB, JOIN_TB, LIKE_TB,
    REPORT_TB, SAN_PARTY_TB, SAN_REVIEW_TB, USER_TB -->
    <delete id="deleteAllTableByMe">
   		DELETE 
		FROM #{tableName}
		WHERE user_id=#{userId}
	</delete>
    
</mapper>